<div class="header text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <h1 class="mb-4">Contact Us</h1>
            </div>
        </div>
    </div>

    <svg class="header-border" height="240" viewBox="0 0 2202 240" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1"
            stroke-width="2" />
    </svg>
</div>

<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <div class="content mb-5">
                    <h2 id="we-would-love-to-hear-from-you">We would Love To Hear From You&hellip;.</h2>
                    <label >Send us an email at <strong>omnamahshivaydotin&#64;gmail.com</strong></label>
                </div>

                <!-- 
                <form method="POST" action="#">
                    <div class="form-group">
                        <label for="name">Your Name (Required)</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="John Doe" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Your Email Address (Required)</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="johndoe@gmail.com"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="contact-reason">Reason For Contact</label>
                        <input type="text" name="text" id="contact-reason" class="form-control" placeholder="Advertising">
                    </div>
                    <div class="form-group">
                        <label for="message">Your Message Here</label>
                        <textarea name="message" id="message" class="form-control"
                            placeholder="Your Message"></textarea>
                    </div>
                    <button type="submit" (click)="onSendBtnClick()" class="btn btn-primary">Send Now</button>
                </form>
                 -->
            </div>
        </div>
    </div>
</section>