<div class="py-2"></div>

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" col-lg-9 mb-5 mb-lg-0">
                <article>
                    <div class="post-slider mb-4">
                        <img [src]="itemDisplay?.posterUrl" class="card-img" alt="item-post-image">
                    </div>

                    <h2 class="h2">{{itemDisplay?.title}}</h2>

                    <ul class="card-meta my-3 list-inline">
                        <li class="list-inline-item">
                            <a [routerLink]="itemDisplay?.auther?.autherPageUrl" class="card-meta-author">
                                <img [src]="itemDisplay?.auther?.authorImageUrl">
                                <span>{{itemDisplay?.auther?.authorName}}</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <i class="ti-timer"></i>{{itemDisplay?.timeToRead}}
                        </li>

                        <li class="list-inline-item">
                            <!-- <ul class="card-meta-tag list-inline"> 
                                <li class="list-inline-item"
                                    *ngFor="let language of (itemDisplay?.availableInLanguages)">
                                    <a routerLink="#">{{language}}</a>
                                </li> 
                            </ul> -->

                            <app-language-tags [itemLanguageTags]="(itemDisplay?.availableInLanguages)">
                            </app-language-tags>


                        </li>
                    </ul>
                    <div class="content">
                        <markdown [data]="markdown$ |async"></markdown>
                        <hr>
                    </div>
                </article>

            </div>

            <app-recent-post></app-recent-post>

        </div>
    </div>
</section>