<div class="banner text-center no-bg no-bottom-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">

                <h1 class="mb-5">TODO: Name Of Category selected</h1>

            </div>
        </div>
    </div>
</div>

<section class="section pt-5 pb-0">
    <div class="container">
        <h2 class="h5 section-title">TODO: postTitle</h2>
        <div class="row">

            <ng-container *ngFor="let listItem of (categoryListItemInfo$|async)">
                <div class="col-lg-4 mb-3">
                    <article class="card">
                        <div class="post-slider slider-sm">
                            <!-- <img [src]="listItem.itemImgUrl" class="card-img-top" alt="post-thumb"> -->
                            <p>TODO: image</p>
                        </div>
                        <div class="card-body">
                            <h3 class="h4 mb-3"><a class="post-title" 
                                >{{listItem.Title}}</a>
                            </h3>
                            <ul class="card-meta list-inline">
                                <li class="list-inline-item" *ngFor="let language of getAvailableLanguages(listItem.AvailableLanguages)">
                                    <ul class="card-meta-tag list-inline">
                                        <li class="list-inline-item">
                                            <a
                                                [routerLink]="getRouteUrlForLanguageTag(listItem)">{{ language}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                         </div>

                    </article>
                </div>
            </ng-container>

        </div>
    </div>
</section>