<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <aside class="col-lg-4 sidebar-home">

        <app-categories></app-categories>
        <app-tags></app-tags>
        <app-social-links></app-social-links>

      </aside>

      <div class="col-lg-8  mb-5 mb-lg-0">
        <h2 class="h5 section-title">Recent Post</h2>

        <ng-container *ngFor="let post of (recentPosts$ | async)">
          <article class="card mb-4">
            <div class="post-slider">
              <img [src]="post.PostImageUrl" class="card-img-top" alt="post-thumb">
            </div>
            <div class="card-body">
              <h3 class="mb-3"><a class="post-title" [routerLink]="getPostUrl(post)">{{post.Title}}</a></h3>
              <ul class="card-meta list-inline">
                <li class="list-inline-item">
                <a class="card-meta-author">
                  <img src="{{post.AutherImageUrl}}" alt="Shivay">
                  <span>{{post.AutherName}}</span>
                </a>
              </li>
                <li class="list-inline-item">
                  <i class="ti-timer"></i>{{post.TimeToRead}} mins to read
                </li>
                <li class="list-inline-item">
                  <i class="ti-calendar"></i>{{post.PostDate}}
                </li>
                <li class="list-inline-item">
                  <ul class="card-meta-tag list-inline">

                    <li class="list-inline-item">
                      <a>{{ AppUtilites.getLanguageName( post.PostLanguage ) }}</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <p>
                {{
                (post.PostContent.length > 200 )?
                post.PostContent.slice(0,200)
                :post.PostContent
                }}
              </p>
              <a [routerLink]="getPostUrl(post)" class="btn btn-outline-primary">Read More</a>
            </div>
          </article>
        </ng-container>


        <!-- TODO: add pagination -->
        <!-- <ul class="pagination justify-content-center">
          <li class="page-item page-item active ">
            <a href="#!" class="page-link">1</a>
          </li>
          <li class="page-item">
            <a href="#!" class="page-link">2</a>
          </li>
          <li class="page-item">
            <a href="#!" class="page-link">&raquo;</a>
          </li>
        </ul> -->
      </div>


    </div>
  </div>
</section>