<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <aside class="col-lg-4 sidebar-home">

        <app-categories></app-categories>
        <app-tags></app-tags>
        <app-social-links></app-social-links>

      </aside>

      <div class="col-lg-8  mb-5 mb-lg-0">
        <h2 class="h5 section-title">Recent Post</h2>

        <ng-container *ngFor="let post of (recentPosts$ | async)">
          <article class="card mb-4">
            <div class="post-slider">
              <img [src]="post.postImageUrl" class="card-img-top" alt="post-thumb">
            </div>
            <div class="card-body">
              <h3 class="mb-3"><a class="post-title" routerLink="{{post.postUrl}}">{{post.postTitle}}</a></h3>
              <ul class="card-meta list-inline">
                <!-- <li class="list-inline-item">
                <a href="author-single.html" class="card-meta-author">
                  <img src="/assets/images/john-doe.jpg" alt="John Doe">
                  <span>John Doe</span>
                </a>
              </li> -->
                <li class="list-inline-item">
                  <i class="ti-timer"></i>{{post.timeToRead}}
                </li>
                <li class="list-inline-item">
                  <i class="ti-calendar"></i>{{post.postDate}}
                </li>
              </ul>
              <p>
                {{
                (post.postContent.length > 200 )?
                post.postContent.slice(0,200)
                :post.postContent
                }}
              </p>
              <a routerLink="{{post.postUrl}}" class="btn btn-outline-primary">Read More</a>
            </div>
          </article>
        </ng-container>


        <!-- TODO: add pagination -->
        <!-- <ul class="pagination justify-content-center">
          <li class="page-item page-item active ">
            <a href="#!" class="page-link">1</a>
          </li>
          <li class="page-item">
            <a href="#!" class="page-link">2</a>
          </li>
          <li class="page-item">
            <a href="#!" class="page-link">&raquo;</a>
          </li>
        </ul> -->
      </div>


    </div>
  </div>
</section>