<div class="widget">
  <h4 class="widget-title">
    <span>{{tagTitle}}<a style="float: right;" class="d-flex" (click)="openDialog()"> + Add </a>
    </span>
  </h4>

  <ng-container *ngIf="tagType === 'CategoryEnum'; else showLanguageEnum">
    <ul class="list-inline widget-list-inline widget-card">
      <li class="list-inline-item" *ngFor="let tag of (categoryEnums$|async)">
        <a>{{tag.CategoryEnum}}</a>
      </li>
    </ul>
  </ng-container>
  <ng-template #showLanguageEnum>
    <ul class="list-inline widget-list-inline widget-card">
      <li class="list-inline-item" *ngFor="let tag of (languageEnums$|async)">
        <a>{{tag.LanguageEnum}}</a>
      </li>
    </ul>
  </ng-template>

</div>