<div class="header text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <h1 class="mb-4">Add Category List</h1>
            </div>
        </div>
    </div>

    <svg class="header-border" height="240" viewBox="0 0 2202 240" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1"
            stroke-width="2" />
    </svg>
</div>

<app-loader [showLoader]="showLoader"></app-loader>

<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="content" *ngIf="message">
                    <div class="notices info">
                        <p>{{message}}</p>
                    </div>
                </div>

                <form method="POST" action="#">
                    <div class="form-group" *ngIf="categoryListId>0">
                        <label for="CategoryListId">CategoryListId : {{categoryListId}}</label>
                    </div>
                    <div class="form-group">
                        <label for="CategoryEnumId">Category</label>

                        <ng-container *ngIf="categoryListId>0;  else showAllCategory">
                            <select class="form-control" id="select-category" name="something"
                                [(ngModel)]="categoryList.CategoryEnumId" required>
                                <option *ngFor="let catEnum of (CategoryEnumList$|async)"
                                    [ngValue]="catEnum.CategoryEnumId">
                                    {{catEnum.CategoryEnum}}
                                </option>
                            </select>
                        </ng-container>
                        <ng-template #showAllCategory>
                            <select class="form-control" id="select-category" name="something"
                                [(ngModel)]="categoryList.CategoryEnumId" required #showAllCategory>
                                <option *ngFor="let catEnum of (CategoryEnumNotEntered$|async)"
                                    [ngValue]="catEnum.CategoryEnumId">
                                    {{catEnum.CategoryEnum}}
                                </option>
                            </select>
                        </ng-template>

                    </div>
                    <div class="form-group">
                        <label for="CategoryNameLabel">Category Name Label</label>
                        <input type="text" name="CategoryNameLabel" id="CategoryNameLabel" class="form-control"
                            minlength="1" [(ngModel)]="categoryList.CategoryNameLabel" required>
                    </div>
                    <div class="form-group">
                        <label for="CategoryNameLabelSanskrit">Category Name Label Sanskrit</label>
                        <input type="text" name="CategoryNameLabelSanskrit" id="CategoryNameLabelSanskrit"
                            [(ngModel)]="categoryList.CategoryNameLabelSanskrit" class="form-control" minlength="1"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="DisplayOrder">Display Order</label>
                        <input type="text" name="DisplayOrder" id="DisplayOrder" class="form-control" minlength="1"
                            [(ngModel)]="categoryList.DisplayOrder" required>
                    </div>

                    <div class="form-group">
                        <label for="IsActive">IsActive :</label>
                        <input type="checkbox" name="cbIsActive" id="cbIsActive" class="form-control"
                            style="width: 20px;" [(ngModel)]="isActive" required>
                    </div>

                    <button (click)="onInsertRecordBtnClick()" type="submit" class="btn btn-primary">
                        {{categoryListId >0 ? 'Update':'Add' }} Record
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>