<section class="error">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 d-none d-md-block">


            </div>
            <div class="col-lg-8 col-md-9">
                <h1 class="mb-4">Shiv Shiv Shiv !!!</h1>
                <h1>
                    We Can’t Seem To Find The
                    Page You’re Looking For</h1>
                 <a href="" class="btn btn-primary">Back To Home</a>
            </div>
        </div>
    </div>

</section>