<div class="banner text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto">

        <h1 class="mb-5">What Would You <br> Love To Add About Shiva?</h1>


        <!-- TODO: add this tags -->
        <!-- <ul class="list-inline widget-list-inline">
          <li class="list-inline-item" *ngFor="let tag of homeBannerTags">
            <a [routerLink]="tag.routeUrl" [state]="{ item:tag }">{{tag.name}}</a>
          </li>
        </ul> -->

      </div>
    </div>
  </div>
</div>