<div class="header text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <h1 class="mb-4">About Us</h1>

            </div>
        </div>
    </div>

    <svg class="header-border" height="240" viewBox="0 0 2202 240" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1"
            stroke-width="2" />
    </svg>
</div>

<section class="section-sm">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
                <div class="image-wrapper">
                    <img class="img-fluid w-100" src="/assets/images/shivay1.png">
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="content pl-lg-3 pl-0">
                    <h2 id="what-is-the-main-mission-of-mine-and-what-i-wanna-do">What is the main mission of mine and
                        what I wanna do?</h2>
                    <p>I am Sanatani Indian who worship all lord of Gods and Godesses.My mission is to globally promote
                        awareness of Lord Shiva. To consolidate comprehensive information, I have established a website
                        where you can find everything you need to know about Lord Shiva.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="content">

                    <p>भगवान शिव के रहस्यमय जगत का अन्वेषण करें, जो विनाश, सृष्टि और परिणाम का प्रतीक हैं। यह पवित्र
                        वेबसाइट आपको भगवान शिव की आशीर्वाद का एक गहन अनुभव प्रदान करने के लिए समर्पित है, जिसमें मंत्र,
                        स्तोत्र (हिम्न), मोहक छवियाँ और सूचनात्मक शिक्षाएँ शामिल हैं।</p>

                    <p>
                        <strong>रहस्यमय मंत्र:</strong> साक्षात भगवान शिव की उपस्थिति को बुलाने वाले पवित्र मंत्रों के
                        सुलभ तंतुओं में डूबें। चाहे आप शांति, बल, या ज्ञान की तलाश में हों, ये मंत्र आपकी आत्मा को
                        उत्तेजित करने और आपके मन को शुद्ध करने की क्षमता रखते हैं। <strong>"ॐ नमः शिवाय"</strong> और
                        अन्य मोहक मंत्रों का सार को खोजें, जो सदियों से पूजन किए जाते हैं।
                    </p>
                    <p>
                        <strong>दिव्य स्तोत्र:</strong> भगवान शिव के लिए समर्पित विभिन्न स्तोत्रों के साथ भक्ति के सागर
                        में डाइव करें। ये काव्यात्मक रचनाएँ उसकी दिव्य गुण, किस्से, और देवी रूपों की अंतरात्मा को कैद
                        करती हैं।
                    </p>
                    <p>
                        <strong>मोहन छवियाँ:</strong> उसके विभिन्न रूपों में भगवान शिव के आशीर्वाददाता दृश्यों को देखें।
                        ध्यान अवस्था से लेकर गतिविधिशील और भयानक नटराज रूप तक, हमारा छवियों का संग्रह उनकी दिव्य
                        प्रतिष्ठा को जीवंत करता है। प्रत्येक छवि एक कहानी कहती है और उनकी भूमिका को ब्रह्मांड नर्तक और
                        परम योगी के रूप में समेटती है।
                    </p>
                    <p>
                        <strong>मार्गदर्शन और शिक्षा:</strong>भगवान शिव की बुद्धिमत्ता और शिक्षाओं के माध्यम से एक
                        आध्यात्मिक यात्रा पर प्रस्थान करें। उनकी प्रतीकों का महत्व खोजें, ब्रह्मांडीय चक्र में उनकी
                        भूमिका के बारे में जानें, और उनके दिव्य स्वरूप के पीछे गहरे सिद्धांत को समझें। उनकी शाश्वत
                        शिक्षाओं के माध्यम से आत्मा के रहस्यों और ब्रह्मांड संतुलन की रहस्यों का खुलासा करें।
                    </p>
                    <p>
                        <strong>जुड़े और डूबें:</strong> यह प्लेटफ़ॉर्म आपको भगवान शिव के साथ व्यक्तिगत और आध्यात्मिक
                        स्तर पर जुड़ने के लिए आमंत्रित करता है। उनके दिव्य आवर में डूबें, उनकी कृपा को अपने जीवन को छूने
                        की अनुमति दें, और भगवान के साथ भक्ति और संबंध से लाया जा सकने वाले परिवर्तन का अनुभव करें।
                    </p>
                    <p>
                        आशा है कि इस पवित्र स्थान के माध्यम से आपका भगवान शिव की महत्वपूर्णता के प्रति ज्ञान बढ़ेगा और
                        यह आपको आध्यात्मिक विकास और बोधी की दिशा में अग्रसर करेगा। इस दिव्य यात्रा पर भगवान शिव से
                        आशीर्वाद मिले!
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>