<app-loader [showLoader]="showLoader"></app-loader>

<h2 mat-dialog-title>Insert {{tagType}}</h2>
<mat-dialog-content class="mat-typography">

  <div class="row">
    <div class="col-lg-12 mx-auto">

      <div class="form-group">
        <label for="enum">Enum Value</label>
        <input type="text" [(ngModel)]="enumValue" name="enum" id="enum" class="form-control" minlength="1"
          placeholder="Stuties or Sanskrit" required>
      </div>

    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button type="submit" class="btn btn-primary" (click)="onInsertEnumClick()">Insert
    Record</button>
</mat-dialog-actions>