<app-item></app-item>
<!-- <div class="py-4"></div>
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" col-lg-9 mb-5 mb-lg-0">
                <article>
                    <div class="post-slider mb-4">
                        <img src="{{mantraItemPoster}}" class="card-img" alt="post-thumb">
                    </div>

                    <h1 class="h2"> {{stutieLanguage}}</h1>

                    <ul class="card-meta my-3 list-inline">
                        <li class="list-inline-item">
                            <a href="author-single.html" class="card-meta-author">
                                <img src="{{authorImageUrl}}">
                                <span>{{authorName}}</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <i class="ti-timer"></i>{{timeToRead}}
                        </li>

                        <li class="list-inline-item">
                            <ul class="card-meta-tag list-inline">
                                <li class="list-inline-item" *ngFor="let language of stutieLanguages"><a
                                        href="#">{{language}}</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="content">

                        <p>Markdown</p>
                          <markdown [data]="markdown$ |async"></markdown> -->
                        <!-- <hr>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section> -->  