<div class="widget widget-categories">
  <h4 class="widget-title"><span>Categories</span></h4>
  <ul class="list-unstyled widget-list">


    <li *ngFor="let category of (categories$ | async)">
      <a routerLink="/{{category.routeUrl}}" class="d-flex">{{category.categoryNameSanskrit}}
        <small class="ml-auto">({{category.itemCount}})</small>
      </a>
    </li>




  </ul>
</div>



<!-- <a routerLink="{{category.routeUrl}}" [state]="{ item:tag }">{{tag.name}}</a> -->
<!-- <li class="list-inline-item" *ngFor="let category of (categories$ | async) ">
  <a routerLink="{{category.routeUrl}}" class="d-flex">{{category.categoryNameSanskrit}}
    <small class="ml-auto">({{category.itemCount}})</small></a>
</li> -->