<div class="banner text-center no-bg" [ngClass]="isMobile? 'no-bottom-padding':''">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">

                <h1 class="mb-5">{{categoryNameLabelSanskrit }}</h1>

            </div>
        </div>
    </div>
</div>

<section class="section pt-5 pb-0">
    <div class="container">
        <h2 class="h5 section-title">{{ categoryNameLabel }}</h2>
        <div class="row">

            <ng-container *ngFor="let item of (categoryListItemInfo$|async)">
                <div class="col-lg-4 mb-3">
                    <article class="card">
                        <div class="post-slider slider-sm" *ngIf="!isMobile">
                            <img [src]="item.ImageUrl" class="card-img-top" alt="post-thumb">
                        </div>
                        <div class="card-body">
                            <h3 class="h4 mb-3"><a class="post-title" [routerLink]="getPostUrl(item)">{{item.Title}}</a>
                            </h3>
                            <ul class="card-meta list-inline">
                                <li class="list-inline-item"
                                    *ngFor="let languageId of AppUtilites.getAvailableLanguagesId(item.AvailableLanguages) ">
                                    <ul class="card-meta-tag list-inline">
                                        <li class="list-inline-item">
                                            <a [routerLink]="getItemDisplayRouteLink(item, languageId)">{{
                                                AppUtilites.getLanguageName(languageId) }}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </article>
                </div>
            </ng-container>

        </div>
    </div>
</section>