<div class="header text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <h1 class="mb-4">Add Item Display</h1>
            </div>
        </div>
    </div>

    <svg class="header-border" height="240" viewBox="0 0 2202 240" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1"
            stroke-width="2" />
    </svg>
</div>

<app-loader [showLoader]="showLoader"></app-loader>

<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="content" *ngIf="message">
                    <div class="notices info">
                        <p>{{message}}</p>
                    </div>
                </div>

                <form method="POST" action="#">
                    <div class="form-group">
                        <label for="CategoryListId">Item Key : <strong>{{itemKey}} </strong></label>
                    </div>

                    <div class="form-group">
                        <label for="CurrentLanguageId">Select Current Language</label>
                        <select class="form-control" id="select-currrent-language" name="select-currrent-language"
                            [(ngModel)]="categoryItemDisplay.CurrentLanguageId" required>
                            <option *ngFor="let language of LanguagesEnumNotEntered"
                                [ngValue]="language.LanguageEnumId">
                                {{language.LanguageEnum}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Title">Title (*)</label>
                        <input type="text" name="Title" id="Title" [(ngModel)]="categoryItemDisplay.Title"
                            class="form-control" minlength="1" required>
                    </div>

                    <div class="form-group">
                        <label for="CategoryAutherId">Auther</label>
                        <div class="input-group">
                            <select class="form-control" id="select-auther" name="select-auther"
                                [(ngModel)]="categoryItemDisplay.AuthorId" required>
                                <option *ngFor="let auther of (AutherList$|async)" [ngValue]="auther.AutherId">
                                    {{auther.AutherName}}
                                </option>
                            </select>
                            <span class="input-group-btn horizontal-margin-5">
                                <button class="btn btn-primary" (click)="onAddAutherBtnClick()" type="button">+
                                    add</button>
                            </span>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" (click)="onRefreshAutherBtnClick()"
                                    type="button">Refresh</button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="MarkDownFileUrl">MarkDown File Url</label>
                        <input type="text" name="MarkDownFileUrl" id="MarkDownFileUrl" class="form-control"
                            minlength="1" [(ngModel)]="categoryItemDisplay.MarkDownFileUrl">
                    </div>
        
                    <div class="form-group">
                        <label for="ItemImageUrl">Item Image Url</label>
                        <input type="text" name="ItemImageUrl" id="ItemImageUrl" class="form-control"
                            minlength="1" [(ngModel)]="categoryItemDisplay.ItemImageUrl" disabled>
                    </div>

                    <div class="form-group">
                        <label for="MarkDownContent">MarkDown Content</label>
                        <input type="text" name="MarkDownContent" id="MarkDownContent" class="form-control"
                            minlength="1" [(ngModel)]="categoryItemDisplay.MarkDownContent">
                    </div>
                    <div class="form-group">
                        <label for="TimeToRead">Time To Read (mins) (*)</label>
                        <input type="text" name="TimeToRead" id="TimeToRead" class="form-control" minlength="1"
                            [(ngModel)]="categoryItemDisplay.TimeToRead" required>
                    </div>
               
                    <div class="form-group">
                        <label for="ParmaLinkDescription">Parma Link Description</label>
                        <input type="text" name="ParmaLinkDescription" id="ParmaLinkDescription" class="form-control" minlength="1"
                            [(ngModel)]="categoryItemDisplay.ParmaLinkDescription" required>
                    </div>

                    <div class="form-group">
                        <label for="IsActive">IsActive</label>
                        <input type="checkbox" name="cbIsActive" id="cbIsActive" class="form-control"
                            style="width: 20px;" [(ngModel)]="isActive" required>
                    </div>

                    <button (click)="onInsertRecordBtnClick()" type="submit" class="btn btn-primary">
                        Add Record
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>