<div class="py-2"></div>

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" col-lg-9 mb-5 mb-lg-0">
                <article *ngIf="itemDisplay$ | async as itemDisplay; else loading">
                    <div class="post-slider mb-4">
                        <img [src]="itemDisplay?.ImageUrl" class="card-img" alt="item-post-image">
                    </div>

                    <h2 class="h2">{{itemDisplay?.Title}}</h2>

                    <ul class="card-meta my-3 list-inline">
                        <li class="list-inline-item">
                            <a class="card-meta-author">
                                <img [src]="itemDisplay?.AutherImageUrl">
                                <span>{{ itemDisplay?.AutherName }}</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <i class="ti-timer"></i>{{itemDisplay?.TimeToRead}} mins to read
                        </li>

                        <li class="list-inline-item">
                            <app-language-tags [itemLanguageTags]="getItemLanguageTags(itemDisplay)">
                            </app-language-tags>
                        </li>
                    </ul>
                    <div class="content">
                        <markdown [data]="(itemDisplay$|async)?.MarkDownContent"></markdown>
                        <hr>
                    </div>
                </article>

                <ng-template #loading>
                    <app-loader [showLoader]="true"></app-loader>
                </ng-template>

            </div>

            <app-recent-post #showLoader></app-recent-post>

        </div>
    </div>
</section>