/* You can add global styles to this file, and also import other style files */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #917351 !important;
    border-color: #917351 !important;

}


.primary-color{
    color: #917351 !important;
 }